<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

  <body>
    <% include partials/navigation.ejs %>

      <div class="container">
        <h1>My installations</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Address</th>
              <th>Compare</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <% for (location of locationList) { %>
              <tr id="trLocation<%= location.id %>">
                <td>
                  <%= location.formatted_address %>
                </td>
                <td>
                  <form method="POST" action="/installation/compare">
                    <input name="locationId" type="number" value="<%= location.id %>" hidden>
                    <input onclick="compareLoading()" type="submit" value="Compare" class="btn btn-success btn-xs" />
                  </form>
                </td>
                <td>
                  <form method="post" action="/installation/edit">
                    <input type="hidden" value="<%= location.id %>" name="locationId" />
                    <input type="submit" value="Edit" class="btn btn-link btn-xs" style="border-color: black;" />
                  </form>
                </td>
                <td>
                  <a onclick="removeLocation(<%= location.id %>);" class="btn btn-link btn-xs" style="border-color: black;">Remove</a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
        <a class="btn btn-primary pull-right" href="/installation/add"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add installation</a>
      </div>
      </br>
      <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                <span class="glyphicon glyphicon-time"></span> Please Wait
              </h4>
            </div>
            <div class="modal-body">
              <div class="progress">
                <div class="progress-bar progress-bar-info
                    progress-bar-striped active" style="width: 100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% include partials/script.ejs %>

        <script>
          function removeLocation(idLocation) {
            swal({
              title: "Are you sure?",
              text: "Your will not be able to recover this installation.",
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn-danger",
              confirmButtonText: "Yes, delete it!",
              closeOnConfirm: false
            },
              function () {
                axios.post('/installation/delete', {
                  idLocation: idLocation
                }).then(function (response) {
                  switch (String(response.data)) {
                    case '1':
                      $('#trLocation' + idLocation).remove();
                      swal('Deleted!', 'Your installation has been deleted.', 'success');
                      break;
                    case '-1':
                      swal('Error', 'Your installation has not been deleted.', 'error');
                      break;
                  }
                }).catch(function (error) {
                  swal('Error', 'Your installation has not been deleted.', 'error');
                });
              });
          }

          function compareLoading() {
            $('#myPleaseWait').modal('show');
          }
        </script>

  </body>

</html>